/* rucksack */
.foo {
  font-size: responsive;
}
/* rucksack end */
/* autoprefixer */
:fullscreen a {
    display: flex;
}
/* autoprefixer end */
/* lost */
.NestingSection__grid {
    background: #8eb19d;
}

.NestingSection__grid div {
    background: #7ba48d;
    lost-column: 1/3;
}

.NestingSection__grid div div {
    background: #68977c;
    lost-column: 1/2;
}
/* lost end */
/* precss */
/* before */

.notice--clear {
	@if 3 < 5 {
		background: green;
	}
	@else {
		background: blue;
	}
}

/* precss */
/* query */
ul > li:at-least(4) {
  color: rebeccapurple;
}
/* query end */
/* short */
.icon {
  size: 48px;
}

/* short end */
